@import '~antd/lib/style/themes/default.less';
@import '~antd/dist/antd.less';
//@import '~antd/lib/style/index.less';
@import "theme.less";


body {
  height: 100%;
}

#reactApplicationRoot {
  height: 100%;
  .app-layout-root {
    height: 100%;
  }
}

.app-layout-header, .app-layout-content, .app-layout-root, .app-layout-header-and-content {
  background: @content-bg;
  padding: 0;
}

.app-layout-header {
  background: white;
  border-bottom: 1px solid darkgray;
}

.app-layout-content {
}
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');
.app-logo-wrapper {
  display: flex;
  align-items: center;
  img.app-logo {
    height: 40px;
    width: 40px;
    margin-left: 10px;
  }
  .app-logo-text {
    font-family: 'Rubik', sans-serif;;
    font-weight: 300;
    font-size: 20px;
    margin-left: 5px;
    color: black;
  }
}

.side-bar {
  border: 0 !important;
}

.sidebar-menu {
  border: 0 !important;

}

.user-menu {
  text-align: right;
  padding-right: 10px;
}

.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}




.user-dropdown-info-panel {
  font-size: x-small;
  text-align: center;
  text-decoration: underline;
  background: white;
}

.internal-page-wrapper {
  padding: 20px 40px;
}

.internal-page-header {
  font-size: 24px;
  padding-bottom: 5px;
  /* text-transform: uppercase; */
  border-bottom: 1px solid lightgray;
  //display: inline-block;
}

.ant-table-content table,
.ant-table,
.ant-table-container,
.ant-table-wrapper,
.ant-table-wrapper .ant-spin-nested-loading,
.ant-table-wrapper .ant-spin-container {
  border-radius: @large-border-radius;
  border: 0 !important;
}
.ant-table-thead,
.ant-table-thead tr {
  border-top-left-radius: @large-border-radius;
  border-top-right-radius: @large-border-radius;
}

.ant-table-thead tr th:first-child {
  border-top-left-radius: @large-border-radius !important;
}

.ant-table-thead tr th:last-child {
  border-top-right-radius: @large-border-radius !important;
}

.ant-table-tbody > tr:last-child > td, .ant-table-tbody > tr:last-child {
  border-bottom: 0 !important;
}

