@import '~antd/lib/style/themes/default.less';
@import '~antd/dist/antd.less';
@import "theme.less";

.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}


.side-bar-background, .side-bar, .left-menu {
  background-color: @blue_bg;
}

.trigger:hover {
  color: white;
}
.trigger {
  color: @gray_font;
}

.logo {
  height: 32px;
  margin: 16px;
}

.theme-blue-bg {
  background: @blue_bg;
}

.logoText {
  font-family: Rubik, serif;
  font-size: 18px;
  color: white;
}

.side-bar {
  .sidebar-menu a, .sidebar-menu, .ant-menu-item-selected a {
    color: @gray_font !important;
    background: transparent !important;
    border: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
    font-weight: bold !important;
  }

  .ant-menu-item-active a, .ant-menu-item-active {
    color: white !important;
  }

  .ant-menu-item-selected {
    background: @blue_bg !important;
    color: white !important;
    border: 0 !important;
    a {
      color: white !important;
    }

  }
}

